@import url('https://fonts.googleapis.com/css2?family=Tiro+Telugu:ital@1&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.principal {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #E4D1B9;
  }
  
  .principal img{
    width: 50px;
    height: 50px;
  
  }
  
  
  .principal nav ul {
    display: flex;
    list-style: none;
  }
  
  .principal nav ul li {
    margin: 15px;
  }
  
  .principal nav ul li a {
    text-decoration: none;
    color: #827397;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 2px 2px 2px #B9F8D3;
  } 
  
  .principal nav ul li a:hover {
    color: black;
    transition: 1s;
    text-shadow: none;
  
  }

.body{
    width: 100%;
    height: 100%;
    font-family: sans-serif;
    letter-spacing: 0.03em;
    line-height: 1.6;
    font-family: 'Tiro Telugu', serif;
}

.titulo{
    text-align: center;
    font-size: 40px;
    color: #6a6a6a;
    margin-top: 100px;
    font-weight: 100;
    font-family: 'Tiro Telugu', serif;
}

.container{
    width: 100%;
    max-width: 1200px;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    margin: auto;

}

.container .card{
    width: 330px;
    height: 430px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
}

.container .card:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.container.card img{
    width: 330px;
    height: 220px;

}

.container .card h4{
    font-weight: 600;
}

.container.card p{
    padding: 0 1rem;
    font-size: 12px;
    font-weight: 200;
}

.container.card a{
    font-weight: 500;
    text-decoration: none;
    color: #3498db;
}

/* ----------------- Footer ----------------- */

.footer ul{
    list-style: none;
  }
  
  .footer ul li a {
    text-decoration: none;
    color: #827397;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 2px 2px 2px #B9F8D3;
  }
  
  .navFooter a:hover {
    color: black;
    transition: 1s;
    text-shadow: none;
  }
  
  .footer{
    background-color:#E4D1B9;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .divLogos{
    float: right;

}
.navFooter{
    display: flex;
    left: auto;
}

.navFooter a{
    display: inline;
    padding: 5px 10px;
    text-decoration: none;
    color: #827397;
    font-weight: bold;
    text-transform: uppercase;
    text-shadow: 2px 2px 2px #B9F8D3;
}

/* ----------------- Form footer ----------------- */
.formFooter{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

#emlogo{
    height: 30px;
    width: 30px;
    position: relative;
    top: 11px;
}



/* ----------------- Logos Footer ----------------- */

.logosFooter{
    margin-right: 5px;
    display: flex;

}

.logosFooter li{
    display: inline-block;
    align-content: flex-end;
    justify-content: center;
    align-items: center;
}


.logos{
    top: 10px;
    height: 22px;
    width: 22px;
    padding: 3px 3px;
}

