@import url('https://fonts.googleapis.com/css2?family=Prompt&family=Tiro+Telugu:ital@1&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.principal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #E4D1B9;
}

.principal img{
  width: 50px;
  height: 50px;

}


.principal nav ul {
  display: flex;
  list-style: none;
}

.principal nav ul li {
  margin: 15px;
}

.principal nav ul li a {
  text-decoration: none;
  color: #010201;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 2px 2px 2px #ffffff7a;
} 

.principal nav ul li a:hover {
  color: #3e76aa;
  transition: 1s;
  text-shadow: none;

}

body{
    width: 100%;
    height: 100%;
    overflow:auto;
    font-family: 'Prompt', sans-serif;
    letter-spacing: 0.03em;
    line-height: 1.6;
    background-color:#e7dbcc;
    background-position: center center;
    background-attachment: fixed;
    background-size: cover;
}

.titulo{
    text-align: center;
    font-size: 40px;
    color: #010201;
    margin-top: 100px;
    font-weight: 100;
    font-family: 'Prompt', sans-serif;
}

.container{
    width: 100%;
    max-width: 1200px;
    justify-content: center;
    margin: auto;

}

.flex{
  display: flex;
  flex-wrap: wrap;
}

.container .card{
    width: 330px;
    height: 440px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
    overflow: hidden;
    margin: 20px;
    text-align: center;
    transition: all 0.25s;
}

.container .card:hover{
    transform: translateY(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.container.card img{
    width: 330px;
    height: 220px;

}

.container .card h4{
    font-weight: 600;
}

.container.card p{
    padding: 0 2rem;
    font-size: 12px;
    font-weight: 200;
    font-family: 'Prompt', sans-serif;
    text-align: center;
}

.container.card a{
    font-weight: 500;
    text-decoration: none;
    color: #3498db;
}

/* ----------------- Footer ----------------- */

.footer ul{
  list-style: none;
}

.footer ul li a {
  text-decoration: none;
  color: #010201;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 2px 2px 2px #ffffff7a;
}

.navFooter a:hover {
  color: #3e76aa;
  transition: 1s;
  text-shadow: none;
}

.footer{
  background-color:#E4D1B9;
  display: flex;
  justify-content: space-between;
  align-items: center;
}



.navFooter a{
  display: inline;
  padding: 5px 10px;
  text-decoration: none;
  color: #010201;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 2px 2px 2px #ffffff7a;
}
/* ----------------- Form footer ----------------- */
.formFooter{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

#emlogo{
    height: 30px;
    width: 30px;
    position: center;
    top: 11px;
}



/* ----------------- Logos Footer ----------------- */

.logosFooter{
    align-items: flex-end;
    display: flex;

}

.logosFooter li{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}


.logos{
  width: 35px;
  height: 35px;
  
}

