@import url('https://fonts.googleapis.com/css2?family=Prompt&family=Tiro+Telugu:ital@1&display=swap');


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}



.h2{
  text-align: center;
  font-family: 'Prompt', sans-serif;
  
}


/* ----------------- Header ----------------- */

.principal{
    width: 100%;
      
    background-color: #ccb786;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 50px;
    grid-gap:10px;
    grid-template-areas: 
    "header header header"
    "section section"
    "main main main"
    "footer footer footer";

}


.principal {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #E4D1B9;
}

.principal img{
  width: 50px;
  height: 50px;

}


.principal nav ul {
  display: flex;
  list-style: none;
}

.principal nav ul li {
  margin: 15px;
}

.principal nav ul li a {
  text-decoration: none;
  color: #010201;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 2px 2px 2px #ffffff7a;
} 

.principal nav ul li a:hover {
  color: #3e76aa;
  transition: 1s;
  text-shadow: none;

}

body{
  width: 100%;
  
  height: 100%;
  overflow:auto;
  font-family: 'Prompt', sans-serif;
  background-color:#e7dbcc;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}

/* ----------------- Main ----------------- */

.parrafoIndex{
    font-family: 'Prompt', sans-serif;
    margin-top: 10px;
    text-align: center;
    margin-bottom: 20px;
    

}

.tituloIndex{
    margin: 30px 0px 10px 0px;
    display: flex;
    justify-content: space-around;

}

.tituloIndex h3{
    
    padding: 10px 10px;
}

.carousel-item img {
  width:1536px;
  height:804px;
}




/* ----------------- Footer ----------------- */

.footer ul{
  list-style: none;
}

.footer ul li a {
  text-decoration: none;
  color: #010201;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 2px 2px 2px #ffffff7a;
}

.navFooter a:hover {
  color: #3e76aa;
  transition: 1s;
  text-shadow: none;
}

.footer{
  background-color:#E4D1B9;
  display: flex;
  justify-content: space-between;
  align-items: center;
}



.navFooter a{
  display: inline;
  padding: 5px 10px;
  text-decoration: none;
  color: #010201;
  font-weight: bold;
  text-transform: uppercase;
  text-shadow: 2px 2px 2px #ffffff7a;
}
/* ----------------- Form footer ----------------- */
.formFooter{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

#emlogo{
    height: 30px;
    width: 30px;
    position: center;
    top: 11px;
}



/* ----------------- Logos Footer ----------------- */

.logosFooter{
    align-items: flex-end;
    display: flex;

}

.logosFooter li{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
}


.logos{
  width: 35px;
  height: 35px;
  
}

/* ----------------- contacto.html -----------------  */

main {
    font-family: 'Prompt', sans-serif;
    font-weight: 500;
    font-size: 20px;
    line-height: 30px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    padding: 1rem 4rem 2rem 4rem; }
main .titulo {
    font-family: 'Prompt', sans-serif;
    font-weight: normal;
    font-size: 32px;
    letter-spacing: 0.05em;
    color: #3e76aa;
    padding-bottom: 2rem;
    text-align: center;
    }

main {
    flex-direction: column; }
    main .gridForm {
      display: grid;
      grid-template-columns: 50% 50%;
      grid-template-rows: 50px 60px 80px 60px 80px 220px;
      grid-template-areas: "a1 a2"
   "a3 a4"
   "a5 a6"
   "a7 a8"
   "a9 a9"
   "a10 a10"
   "a11 a11";
      padding-left: 5%;
      padding-top: 5%;
      width: 65%;
      height: 652px;
      border-radius: 20px;
      border: 4px solid #4595ca;
      box-shadow: 2px 3px 3px 1px rgba(0, 0, 0, 0.664); }
      main .gridForm .lineasInput {
        border: none;
        border-radius: 0px;
        border-bottom: 2px solid #3e76aa; }
      main .gridForm .nombre-ingresa {
        grid-area: a1;
        padding-right: 80px; }
      main .gridForm .nombre-ingresa2 {
        grid-area: a3;
        padding-left: 1rem; }
      main .gridForm .apellido-ingresa {
        grid-area: a2; }
      main .gridForm .apellido-ingresa2 {
        grid-area: a4;
        padding-left: 1rem; }
      main .gridForm .email-ingresa {
        grid-area: a5;
        margin-top: 25px; }
      main .gridForm .email-ingresa2 {
        grid-area: a7;
        padding-left: 1rem; }
      main .gridForm .celular-ingresa {
        grid-area: a6;
        margin-top: 25px; }
      main .gridForm .celular-ingresa2 {
        grid-area: a8;
        padding-left: 1rem; }
      main .gridForm .mensaje-ingresa {
        grid-area: a9;
        margin-top: 25px; }
      main .gridForm .mensaje-ingresa2 {
        grid-area: a10;
        padding-left: 1rem;
        padding-top: 1rem;
        font-size: 16px; }
      main .gridForm form .boton {
        grid-area: a11; }
      main .gridForm label {
        font-size: 18px;
        line-height: 27px;
        letter-spacing: 0.05em;
        color: #000000; }
      main .gridForm input {
        background: #ffffff;
        border-radius: 18px;
        font-size: 16px;
        border: none;
        width: 70%;
        height: 50px;
        outline: none;
        border: 3px solid #3e76aa; }
        main .gridForm input ::placeholder {
          padding-left: 15px; }
      main .gridForm textarea {
        width: 85%;
        border-radius: 20px;
        border: none;
        border: 3px solid #3e76aa; }
  
  .botonenviar {
    padding-top: 2rem; }
  
  .obligatorio {
    padding: 2rem 0 0 0;
    text-align: center;
    font-size: 16px; }
    main .boton {
        width: 145px;
        height: 35px;
        border-radius: 10px;
        font-size: 14px; }
      main footer span {
        font-size: 16px; }
      main .gridForm {
        display: flex;
        flex-direction: column;
        padding-bottom: 2rem;
        border: 2px solid #3e76aa;
        box-shadow: none;
        justify-content: center;
        padding-left: 2rem;
        padding-top: 2rem;
        width: 100%; }
        main .gridForm label {
          font-size: 16px;
          margin-top: 20px; }
        main .gridForm .nombre-ingresa {
          margin-top: 0%; }
        main .gridForm .grid {
          grid-template-columns: 20% 80%; }
        main .gridForm .grid2 {
          grid-template-columns: 20% 80%; }
    ol {
      padding-left: 0px; } 

      main .boton {
        width: 200px;
        height: 60px;
        background: #3e76aa;
        border: none;
        border-radius: 15px;
        font-family: 'Prompt', sans-serif;
        font-size: 20px;
        letter-spacing: 0.03em;
        color: #ffffff;
        cursor: pointer;
        box-shadow: 4px 5px 5px 1px rgba(0, 0, 0, 0.2); }


/*--Responsive--*/

@media screen and (max-width: 768px) {
    .principal {
      margin: 10px auto;
      display: grid;
      grid-gap: 5px;
      grid-template-columns: 1fr;
  
      grid-template-areas:
      "header header"
      "section section"
      "main main"
      "footer footer";
    }
  }
  
  
  @media screen and (max-width: 480px ) {
      .principal {
        margin: 10px auto;
        display: grid;
        grid-gap: 5px;
        grid-template-columns: 1fr;         
    
        grid-template-areas:
        "header "
        "section"
        "main"
        "footer";
      }
  }

  