.footer{
    background-color: #776d57;
}

.divNav{
    display: inline-block;
    
}

.divLogos{
    float: right;

}
.navFooter{
    display: flex;
    left: auto;
}

.navFooter a{
    display: inline;
    padding: 5px 10px;
    text-decoration: none;
}

.espFooter{
   padding: 5px 8px 5px 8px
}


/* ----------------- Logos Footer ----------------- */

.logosFooter{
    margin-right: 5px;
    display: inline;

}

.logosFooter li{
    display: inline-block;
    align-content: flex-end;
    justify-content: center;
}


.logos{
    top: 10px;
    height: 22px;
    width: 22px;
    padding: 3px 3px;
}

/* ----------------- Form footer ----------------- */
.formFooter{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    margin-bottom: 20px;
}

#emlogo{
    height: 30px;
    width: 30px;
    position: relative;
    top: 11px;
}